<div>
    <app-alert-error [show]="error" [message]="message"></app-alert-error>
</div>
<div class="bg-white p-2 border rounded">
    <div class="p-2 d-flex flex-row">
        <fa-icon [icon]="faUserMinus" size="2x"></fa-icon>
        <h3 class="ms-3 mt-1">Excluir Cliente</h3>  
    </div>
</div>
<br/>
<div class="card p-3">
    <div class="card-body">
        <h4>Você deseja excluir o cliente?</h4>
        <dl class="row">
            <dt class="col-2">Nome Completo</dt>
            <dd class="col-10">{{customer.fullName}}</dd>
            <dt class="col-2">Email</dt>
            <dd class="col-10">{{customer.emailAddress}}</dd>
            <dt class="col-2">Telefone</dt>
            <dd class="col-10">{{customer.phone}}</dd>
            <dt class="col-2">Data Nascimento</dt>
            <dd class="col-10">{{customer.birthDate | date: 'dd/MM/yyyy'}}</dd>
        </dl>
        <a class="btn btn-danger me-2" (click)="deleteCustomer()">Excluir</a>
        <a class="btn btn-info" routerLink="/Customers">Voltar</a>
    </div>
</div>