<div *ngIf="route.children.length === 0" class="container">
    <h1>Clientes</h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.fullName}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.birthDate  | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <a routerLink="/Customers/Edit" class="btn btn-sm btn-link mb-3" style="font-size: 10pt">Editar</a>
                    <a routerLink="/Customers/Details" class="btn btn-sm btn-link mb-3" style="font-size: 10pt">Detalhes</a>
                    <a routerLink="/Customers/Delete" class="btn btn-sm btn-link mb-3" style="font-size: 10pt">Excluir</a>
                </td>
            </tr>
            <ul>
                <li *ngFor="let item of data">
                    
                </li>
            </ul>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>