<div class="card">
    <div class="card-header">
        <h2>Excluir Cliente</h2>
    </div>
    <div class="card-body p-5">
        <h4>Você deseja excluir o pedido?</h4>
        <dl class="row">
            <dt class="col-2">Numero de ordem: </dt>
            <dd class="col-10">{{salesOrder.purchaseOrderNumber}}</dd>
            <dt class="col-2">Cliente</dt>
            <dd class="col-10">{{salesOrder.customer.fullName}}</dd>
            <dt class="col-2">Data do Pedido</dt>
            <dd class="col-10">{{salesOrder.orderDate | date: 'dd/MM/yyyy'}}</dd>
            <dt class="col-2">Status</dt>
            <dd class="col-10">{{salesOrder.status}}</dd>
        </dl>
        <a class="btn btn-danger me-2" (click)="deleteSalesOrder()">Excluir</a>
        <a class="btn btn-info" routerLink="/Customers">Voltar</a>
    </div>
</div>