<div class="bg-white p-2 border rounded">
    <div class="p-2 d-flex flex-row">
        <fa-icon [icon]="faTrashAlt" size="2x"></fa-icon>
        <h3 class="ms-3">Excluir Pedido</h3>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-body p-5">
        <h4>Você deseja excluir o pedido?</h4>
        <dl class="row">
            <dt class="col-2">Numero de ordem: </dt>
            <dd class="col-10">{{salesOrder.purchaseOrderNumber}}</dd>
            <dt class="col-2">Cliente</dt>
            <dd class="col-10">{{salesOrder.customer.fullName}}</dd>
            <dt class="col-2">Data do Pedido</dt>
            <dd class="col-10">{{salesOrder.orderDate | date: 'dd/MM/yyyy'}}</dd>
            <dt class="col-2">Status</dt>
            <dd class="col-10">{{salesOrder.status}}</dd>
        </dl>
        <a class="btn btn-danger me-2" (click)="deleteSalesOrder()">Excluir</a>
        <a class="btn btn-info" routerLink="/SalesOrder">Voltar</a>
    </div>
</div>