<div class="d-flex justify-content-center">
    <div class="d-flex flex-column mt-4">
        <h1 class="d-flex justify-content-center" style="font-size: 100pt;">404</h1>
        <h3 class="mt-4">A página que está procurando não pode ser encontrada</h3>
        <div class="d-flex justify-content-center">
            <div class="mt-5" >
                <button class="btn btn-lg btn-link" routerLink="/Home">Home</button>
                <button class="btn btn-lg btn-link" routerLink="/Customers">Clientes</button>
                <button class="btn btn-lg btn-link" routerLink="/Products">Produtos</button>
                <button class="btn btn-lg btn-link" routerLink="/SalesOrder">Pedidos</button>
            </div>
        </div>
    </div>
</div>