<div *ngIf="activatedRoute.children.length === 0" > 
    <div class="bg-white p-2 border rounded">
        <div class="p-2 d-flex flex-row">
            <fa-icon [icon]="faBoxOpen" size="2x"></fa-icon>
            <h3 class="ms-3">Pedidos</h3>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <div  class="d-flex flex-column">
                <div class="mb-2">
                    <button type="button" class="btn btn-info text-light float-end" (click)="criarNovoPedido()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Novo Pedido
                    </button>
                </div>
                <ul class="list-group">
                    <li *ngFor="let sales of salesOrders" class="list-group-item mt-1 border">
                        <div class="row">
                            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                                <h6 class="fw-bold mx-2">Nº PEDIDO</h6>
                                <span>#{{sales.purchaseOrderNumber}}</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                                <h6 class="fw-bold mx-3">CLIENTE</h6>
                                <span class="text-uppercase">{{sales.customer.fullName}}</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                                <h6 class="fw-bold mx-3 mb-2">STATUS</h6>
                                <span class="fw-bold status"
                                    [ngClass]="setColorStatus(sales.status)" >{{getStatusMessage(sales.status)}}</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                                <h6 class="fw-bold mx-3">DT. COMPRA</h6>
                                <span>{{ sales.orderDate | date : 'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                                <h6 class="fw-bold mx-3">TOTAL </h6>
                                <span>{{ sales.subTotal - getAllDiscounts(sales) + sales.taxAmt | currency : 'BRL'}}</span>
                            </div>
                            <div class="col-2 d-flex flex-column">
                                <button type="button" class="btn btn-sm btn-info text-light"
                                        [routerLink]="['/SalesOrder/Details', sales.salesOrderHeaderID ]">
                                        <fa-icon [icon]="faSearch"></fa-icon>
                                        Detalhes
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                    [routerLink]="['/SalesOrder/Edit', sales.salesOrderHeaderID ]">
                                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                                        Editar
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger mt-1"
                                        [routerLink]="['/SalesOrder/Delete', sales.salesOrderHeaderID ]">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                        Excluir
                                    </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>