<div class="container">
    <h2>Pedidos</h2>
    <ul class="list-group">
        <li class="list-group-item p-3 mt-2">
            <div class="row">
                <div class="col-2 p-3 mt-2">
                    <h6 class="fw-bold mx-2">Nº PEDIDO</h6>
                    <span class="ms-3">#125648</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold  mx-3">CLIENTE</h6>
                    <span class="ms-2 text-uppercase">Alex Green</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold  mx-4">STATUS</h6>
                    <span class="ms-4 text-uppercase text-info fw-bold status">Elaboração</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-3">DT. COMPRA</h6>
                    <span class="ms-4">17/10/2021</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-4">TOTAL </h6>
                    <span>R$ 20.000,00</span>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-column mt-2 ms-5" style="width: 100px;">
                        <button type="button" class="btn btn-info btn-sm text-light">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Detalhes
                        </button>
                        <button type="button" class="btn btn-primary btn-sm text-light mt-2">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                            Editar
                        </button>
                        <button type="button"class="btn btn-danger btn-sm text-light mt-2">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            Excluir
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3 mt-2 border">
            <div class="row">
                <div class="col-2 p-3 mt-2">
                    <h6 class="fw-bold mx-2">Nº PEDIDO</h6>
                    <span class="ms-3">#125765</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-3">CLIENTE</h6>
                    <span class="ms-2 text-uppercase">Donald Blue</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-5">STATUS</h6>
                    <span class="text-uppercase text-warning fw-bold status">Aguardando Pagamento</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-3">DT. COMPRA</h6>
                    <span class="ms-4">16/10/2021</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-4">TOTAL </h6>
                    <span>R$ 1.000,00</span>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-column mt-2 ms-5" style="width: 100px;">
                        <button type="button" class="btn btn-info btn-sm text-light">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Detalhes
                        </button>
                        <button type="button" class="btn btn-primary btn-sm text-light mt-2">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                            Editar
                        </button>
                        <button type="button"class="btn btn-danger btn-sm text-light mt-2">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            Excluir
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3 mt-2 border">
            <div class="row">
                <div class="col-2 p-3 mt-2">
                    <h6 class="fw-bold mx-2">Nº PEDIDO</h6>
                    <span class="ms-3">#126754</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold  mx-3">CLIENTE</h6>
                    <span class="ms-2 text-uppercase">Maria Blue</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold  mx-4">STATUS</h6>
                    <span class="ms-4 text-uppercase text-info fw-bold status">Aprovado</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-3">DT. COMPRA</h6>
                    <span class="ms-4">20/09/2021</span>
                </div>
                <div class="col-2 mt-2 p-3">
                    <h6 class="fw-bold mx-4">TOTAL </h6>
                    <span>R$ 3.500,00</span>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-column mt-2 ms-5" style="width: 100px;">
                        <button type="button" class="btn btn-info btn-sm text-light">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Detalhes
                        </button>
                        <button type="button" class="btn btn-primary btn-sm text-light mt-2">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                            Editar
                        </button>
                        <button type="button"class="btn btn-danger btn-sm text-light mt-2">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            Excluir
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>