<div *ngIf="show" class="col-12">
    <h5 class="fw-bold">SELECIONE OS PRODUTOS PARA O PEDIDO</h5>
    <div class="mt-3">
        <h5>RESUMO</h5>
        <button type="button" class="btn btn-info text-light" (click)="sendSalesOrderDetails()">Avançar</button>
        <button type="button" class="btn btn-primary ms-2" (click)="backToSalesHeader()">Voltar</button>
        <hr/>
        <div *ngIf="salesOrderDetails.length === 0" class="p-5 d-flex justify-content-center align-items-center">
            <span class="fw-bold fs-5">Não existem items de pedido</span>
        </div>
        <div *ngIf="salesOrderDetails.length > 0">
            <table class="table align-middle">
                <thead >
                    <tr>
                       <th scope="col">Item</th> 
                       <th scope="col">Produto</th> 
                       <th scope="col">Quantidade</th> 
                       <th scope="col">Preço Unitário</th> 
                       <th scope="col">Desconto</th> 
                       <th scope="col">Vlr. Desconto</th>
                       <th></th>
                    </tr>
                </thead>               
                <tbody>
                    <tr *ngFor="let item of salesOrderDetails; let i = index">
                        <td scope="col">{{i+1}}</td>
                        <td scope="col">{{item.Product.name}}</td>
                        <td scope="col">{{item.OrderQty}}</td>
                        <td scope="col">{{item.UnitPrice | currency : 'BRL'}}</td>
                        <td scope="col">{{(item.UnitPriceDiscount / item.UnitPrice) | percent}}</td>
                        <td scope="col">{{item.UnitPriceDiscount | currency : 'BRL'}}</td>
                        <td>
                            <a class="btn btn-link" (click)="removeProductItem(i, item.Product)">Remover</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/>
    </div>
    <div class="p-5 bg-secondary" style="width: 1165px">
        <ul class="list-group list-group-horizontal d-flex flex-wrap justify-content-center align-items-center" style="margin-left: -5px;">
            <li *ngFor="let product of products" class="list-group-item p-2 me-2 mt-2 rounded-2" style="width: 30%; height: 340px;">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img [src]="getImageServer(product.thumbnailPhoto)" class="cover-product">
                    <span class="mt-2" style="font-size: 10pt;">{{product.name}}</span>
                    <span class="mt-2" style="font-size: 15pt;">{{product.listPrice | currency: 'BRL'}}</span>
                    <div *ngIf="!product.Added" class="d-flex justify-content-center mt-2">
                        <button class="btn btn-info me-2" (click)="addQty(product)">
                            <fa-icon [icon]="faPlusCircle"></fa-icon>
                        </button>
                        <span class="mt-1" >{{product.OrderQty}}</span>
                        <button class="btn btn-info ms-2" (click)="subQty(product)">
                            <fa-icon [icon]="faMinusCircle"></fa-icon>
                        </button>
                    </div>
                    <div class="d-flex flex-column mt-2">
                        <button *ngIf="!product.Added" class="btn btn-success mt-2" (click)="createSalesOrderDetail(product, 0)" [class]="product.Added ? 'disabled' : ''">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            <span class="ms-2">Adicionar</span>
                        </button>
                        <button *ngIf="!product.Added"  class="btn btn-primary mt-2" (click)="addDiscountToProduct(product)" [class]="product.Added ? 'disabled' : ''">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            <span class="ms-2"> Adicionar com desconto</span>
                        </button>
                    </div>
                    
                    <div *ngIf="product.Added" class="p-5">
                        <span >Adicionado ao pedido</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>