<div class="row">
    <div class="col-12">
        <h1>Criar Novo Cliente</h1>
        <br/>
        <br/>
        <form [formGroup]="formProduct" (ngSubmit)="productID ? putProduct() : postProduct()" enctype="multipart/form-data">
            <div *ngIf="productID">
                <input type="hidden" formControName="ProductID"/>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <img [src]="imgSrc" style="width: 350px; height: 350px;"/>
                    <div class="form-group">
                        <input type="file" class="form-control" id="ThumbnailPhoto" 
                            formControlName="ThumbnailPhoto" style="width: 350px;" 
                            (change)="alterarImgUpload($event)"/>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <input type="hidden" formControName="CustomerID"/>
                    </div>
                    <div class="form-group">
                        <label for="Name">Nome do Produto</label>
                        <input type="text" class="form-control" id="Name" placeholder="Nome do Produto" formControlName="Name"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="ProductNumber">Codigo do Produto</label>
                        <input type="text" class="form-control" id="ProductNumber" placeholder="Codigo do Produto" formControlName="ProductNumber"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="Color">Cor do produto</label>
                        <input type="text" class="form-control" id="Color" placeholder="Cor do produto" formControlName="Color"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="StandardCost">Custo de produção</label>
                        <input type="text" class="form-control" id="StandardCost" placeholder="Custo de produção" formControlName="StandardCost"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="ListPrice">Preço de venda</label>
                        <input type="text" class="form-control" id="ListPrice" placeholder="Preço de venda" formControlName="ListPrice"/>
                    </div>
                    <div class="form-group">
                        <label for="DiscontinuedDate">Data Descontinuação</label>
                        <input type="date" class="form-control" id="DiscontinuedDate" placeholder="dd/MM/yyyy" formControlName="DiscontinuedDate"/>
                    </div>
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-info ms-2 text-light" (click)="voltarIndex()">Voltar</button>
        </form>
    </div>
</div>